<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maolong.mapper.RoleRightMapper">
    <insert id="addBatch">
        insert into role_module(role_id,module_id) values
        <foreach collection="moduleIds" item="moduleId" separator=",">(#{roleId},#{moduleId})</foreach>
    </insert>

    <select id="listByModuleIds" resultType="com.maolong.pojo.entity.Module">
        select * from module where module_id in
        <foreach collection="moduleIds" item="moduleId" open="(" separator="," close=")">#{moduleId}</foreach>
    </select>
</mapper>
